---
const locale = Astro.currentLocale;
import article from "../../i18n.json";

import { Image } from 'astro:assets';
import one from '../images/1.jpg';
import two from '../images/2.jpg';
import three from '../images/3.jpg';
import four from '../images/4.jpg';
import five from '../images/5.jpg';
import six from '../images/6.jpg';
import seven from '../images/7.jpg';
import eight from '../images/8.jpg';

const images = [one, two, three, four, five, six, seven, eight];
---

{
  article[locale].articles.map((article, i) => {
    return (
      <article class={`flex ${i % 2 === 0 && "flex-row-reverse"} gap-8 mb-12`}>
        <Image
          src={images[i]}
          alt={article.title}
					width={370}
        />
        <div>
          <h2 class="text-2xl font-bold mb-4">{article.title}</h2>
          <p class="font-light text-lg">{article.content}</p>
        </div>
      </article>
    );
  })
}
