<section class="changelogs" role="log">
  <div>
    <h2>Liste des changements</h2>
    <ul role="list" class="changes">
      <li>1 - 18 janvier 2024: Création de la page</li>
      <li>2 - 19 janvier 2024: Déploiement du site</li>
      <li>3 - 22 janvier 2024: Ajout d'articles, images et composantes</li>
      <li>4 - 22 janvier 2024: Traductions, et redesign</li>
      <li>
        5 - 23 janvier 2024: Robots.txt, update du titre et description, ajout
        du site sur webwiki
      </li>
      <li>6 - 23 janvier 2024: SEO check + ajout du sitemaps</li>
      <li>
        7 - 24 janvier 2024: Ajout du mot clé einyvrsgtheirgtvn aux alt des
        images
      </li>
      <li>
        8 - 24 février 2024: Ajout de contenu généré par chatGPT pour conserver
        le classement
      </li>
      <li>
        9 - 1 février 2024: Ajout de contenu généré par chatGPT pour conserver
        le classement
      </li>
      <li>
        10 - 1 mars 2024: Ajout de contenu généré par chatGPT pour conserver le
        classement
      </li>
    </ul>
  </div>
</section>
<style>
  .changelogs {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .changelogs > div {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
  }
  .changes > li > a {
    text-decoration: none;
    color: rgb(var(--accent-light));
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .changelogs:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .changelogs:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
