<footer>
  <p class="text">Créé par Olivier Mailhot - maio1301</p>
</footer>

<style>
  .text {
    text-align: center;
    font-size: 12px;
    color: rgba(var(--accent-light), 70%);
    position: absolute;
    bottom: 0;
		width: 100%;
  }
</style>
