---
import ToggleLanguage from "./ToggleLanguage.astro";

const locale = Astro.currentLocale;
---
<header class="text-right">
	<ToggleLanguage/>
</header>

<h1 class="text-6xl font-bold text-center mb-16 mt-16">
	{locale === 'fr' ? "Voici" : "This is"} <span class="text-gradient">einyvrsgtheirgtvn.</span>
</h1>

<style>
	.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>