---
interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="author" content="Olivier Mailhot" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="ZPSmTv1juReb-_pS_1CYmvogf4ktcFVUQn4abE2fA90" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="generator" content={"einyvrsgtheirgtvn"} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 66, 58, 234;
		--accent-light: 154, 150, 244;
		--accent-dark: 24, 18, 172;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #161d2c;
		background-size: 224px;
		height: 100vh;
	}
	body {
		margin: 0;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
